<aside class="w-64 h-full bg-gray-800 text-white flex flex-col fixed content-between">
    <!-- App Title -->
    <div class="flex flex-col h-1/4">
        <img class="self-center mt-10 scale-150" src="Group 4.png" alt="Dashboard Logo"/>
        <h1 class="self-center text-center p-4 text-2xl font-bold ">WatchMe</h1>
    </div>
    <!-- Nav Links -->
    <nav class="flex flex-col text-lg text-center font-bold h-1/4 justify-center">
        <a class="p-4 hover:bg-gray-700" routerLink="/dashboard" routerLinkActive="active">Home</a>
        <a class="p-4 hover:bg-gray-700" routerLink="/movies" routerLinkActive="active">Friends</a>
        <a class="p-4 hover:bg-gray-700" routerLink="/tv-shows" routerLinkActive="active">Nutrition</a>
        <a class="p-4 hover:bg-gray-700" routerLink="/people" routerLinkActive="active">Settings</a>
        <a class="p-4 hover:bg-gray-700" routerLink="/people" routerLinkActive="active">Logout</a>
    </nav>
</aside>
  